:root {
  --bold-color: hsl(14, 45%, 36%);
  --card-color: hsl(0, 0%, 100%);
  --background-color: hsl(30, 54%, 90%);
  --another-color: hsl(30, 18%, 87%);
  --paragraf-color: hsl(30, 10%, 34%);
  --title-color: hsl(24, 5%, 18%);
  --preparation-color: hsl(332, 51%, 32%);
  --preparation-background-color: hsl(330, 100%, 98%);
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--paragraf-color);
  font-family: "Outfit", system-ui;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  max-width: 375px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-container {
  background-color: var(--card-color);
}

h1 {
  font-family: "Young Serif", serif;
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: 0.5rem;
  font-weight: 400;
}

h2 {
  font-family: "Young Serif", serif;
  font-size: 1.5rem;
  color: var(--bold-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}

p,
li {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

li {
  list-style: inside;
}

.card-header img {
  width: 100%;
  height: auto;
  display: block;
}

.card-header .header-description {
  padding: 1.5rem;
}

.card-header .header-description #header-paragraf {
  font-size: 0.9rem;
}

.card-header #preparation-time {
  padding: 1rem 2rem;
  margin: 0 1rem;
  background-color: var(--preparation-background-color);
  border-radius: 1rem;
}

.card-header #preparation-time #preparation-title {
  color: var(--preparation-color);
  padding-bottom: 1rem;
}

#preparation-time li::marker {
  color: var(--preparation-color);
}

span {
  font-weight: 600;
}

.card-body {
  padding: 2rem;
}

.card-body section {
  padding-bottom: 1rem;
}

.card-body #instructions li {
  list-style: inside decimal;
}

#instructions li::marker,
#ingredients li::marker {
  color: var(--bold-color);
  font-weight: 700;
}

table {
  width: 100%;
  padding-top: 1rem;
}

th {
  font-weight: 400;
}

td {
  color: var(--bold-color);
  font-weight: 600;
}

th,
td {
  border-bottom: 1px solid var(--another-color);
  padding: 0.5rem 0 0.5rem 1.5rem;
  text-align: left;
  font-size: 0.8rem;
}

hr {
  width: 1;
  color: var(--another-color);
}

.attribution {
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.5rem;
  text-align: center;
}

.attribution a {
  color: hsl(151, 45%, 44%);
  text-decoration: none;
}
